{% extends 'dj02_creating_app/layout.html' %}

{% block title %}
<title>Породы собак</title>
{% endblock %}
{% load static %}
{% block content %}
<div class="card">
    <img src="{% static 'dj02_creating_app/img/row_seven_dogs.jpg' %}" class="card-img-top" alt="Семь собак">
    <div class="card-body">
        <h2 class="card-title">Породы собак</h2>
        <p class="card-text">

            <h1>Породы собак</h1>
            <p>В мире существует более 500 пород собак, и ежегодно появляются новые. В подборке от <a href="https://lapkins.ru">Lapkins.ru</a> в алфавитном порядке представлены все породы собак с названиями и фотографиями. Список будет полезен не только желающим узнать название определенной породы, но и тем, кто серьезно задумался, какую собаку купить. Прочитайте описания понравившихся пород, узнайте об их основных характеристиках, истории, особенностях воспитания и ухода, болезнях, советах по выбору щенка, посмотрите фото и видео с типичными представителями. Чтобы сравнивать породы между собой было легче, воспользуйтесь фильтром. Делая выбор и сердцем, и умом, вы на долгие годы приобретете пушистого друга, подходящего вам по темпераменту и условиям содержания.</p>
            
            <h2>Собаки как домашние животные</h2>
            <p>Собаки – самые популярные домашние животные. Составить им конкуренцию могут только кошки. Собаки веками жили рядом с человеком, не уставая доказывать ему свою преданность и любовь. Все многообразие пород можно разделить на аборигенных – появившихся путем естественного отбора, и культурных – выведенных селекционерами. Аборигенные виды достаточно независимы, способны принимать самостоятельные решения, не слишком хорошо поддаются дрессировке, в то время как породы, создававшиеся специально, более ориентированы на человека и склонны к быстрому обучению.</p>
            
            <h2>Классификация пород</h2>
            <p>В зависимости от того, какую работу способна выполнять собака, выделяют <strong>служебные</strong>, <strong>охотничьи</strong>, <strong>сторожевые</strong>, <strong>бойцовские</strong>, <strong>пастушьи</strong>, <strong>декоративные</strong> породы. Сложно переоценить помощь этих животных людям, тем более что многие из них становятся верными компаньонами, готовыми пожертвовать собой ради хозяина. И человечество умеет быть благодарным: о собаках снимают кино, им посвящают книги и ставят памятники. Ярким примером стал фильм «Хатико: Самый верный друг», основанный на реальной истории собаки породы акита-ину. Мелодрама вдохновила миллионы людей – после просмотра, наверное, каждый хотел завести похожую собаку.</p>
            
            <h3>Культурное наследие</h3>
            <p>Ценители собак в качестве культурного наследия разных стран могут рассмотреть <strong>русские</strong>, <strong>японские</strong>, <strong>немецкие</strong>, <strong>английские</strong>, <strong>американские</strong>, <strong>китайские</strong> и <strong>французские</strong> породы.</p>
            
            <h2>Размеры пород собак</h2>
            <p>Все породы собак можно классифицировать по размеру. Традиционно породы делятся на <strong>маленькие</strong>, <strong>средние</strong> и <strong>большие</strong>. При этом в группу мелких питомцев попадают тои, карликовые и малые породы, а к большим собакам относятся крупные и гигантские особи. Размер является одним из главных критериев того, подойдет ли собака для квартиры. Но не единственным: характер питомца не менее важен.</p>
            
            <h2>Выбор породы</h2>
            <p>В каталоге пород вы можете выбирать собак, обладающих определенными качествами: <strong>умных</strong>, <strong>спокойных</strong>, <strong>добрых</strong>, <strong>злых</strong>, <strong>опасных</strong>. Любители тишины по достоинству оценят нелающие породы. Хотя внешняя привлекательность – субъективное понятие, мы подобрали красивые и милые породы собак, ориентируясь на мнение пользователей сайта.
            
            Благодаря фильтру, вы можете выбрать популярные или, наоборот, редкие породы, а также посмотреть на тех собак, которые появились относительно недавно.</p>
            
            <h2>Уход за собакой</h2>
            <p>Чтобы примерно представлять, сколько шерсти будет оставаться от собаки в доме или квартире, воспользуйтесь такими тегами, как <strong>пушистые</strong>, <strong>лохматые</strong>, <strong>гладкошерстные</strong>, <strong>кудрявые</strong>, <strong>лысые</strong>.</p>
            
            <h2>Стоимость</h2>
            <p>Другой вопрос, волнующий будущих владельцев: сколько стоит собака той или иной породы? Конечно, многое зависит от класса щенка, известности его родителей и питомника, но для того, чтобы иметь общее представление, мы подобрали недорогие и дорогие породы. Собаки, не попавшие ни в одну группу, относятся к среднему ценовому сегменту.</p>
            
            <h2>Заключение</h2>
            <p>Невозможно однозначно сказать, какая порода собак самая лучшая – для каждого она своя. Заведете ли вы жизнерадостного <strong>бигля</strong>, любимца королевы <strong>вельш-корги пемброка</strong>, добродушного <strong>золотистого ретривера</strong> или крошечного <strong>шпица</strong> – главное, чтобы он был любим вами и членами вашей семьи!</p>
        </p>
    </div>
</div>
{% endblock %}
