{% extends 'dj02_creating_app/layout.html' %}

{% block title %}
<title>Чау-чау</title>
{% endblock %}
{% load static %}
{% block content %}
<div class="card">
    <img src="{% static 'dj02_creating_app/img/chow_chow.jpg' %}" class="card-img-top" alt="Чау-чау">
    <div class="card-body">
        <h2 class="card-title">Чау-чау</h2>
        <p class="card-text">Чау-чау – собака с поразительной внешностью, историей, овеянной легендами и удивительным, до конца не познанным характером.</p></p>
        <p class="card-text"><h3>Основные моменты</h3>
            <ul>
                <li><strong>Необычная внешность:</strong> роскошная львиная грива, чуть нахмуренное выражение морды и фиолетовый язык делают чау-чау абсолютно неповторимой собакой.</li>
                <li><strong>Характер:</strong> за милой наружностью кроется независимый и упрямый характер. Чау-чау можно смело отнести к аристократам собачьего мира – они горды, уверены в себе и ведут себя величественно.</li>
                <li><strong>Выбор «вожака»:</strong> чау-чау отдадут свою любовь и преданность только одному хозяину, которого выберут самостоятельно. Переубедить их будет невозможно, поэтому щенка лучше брать в раннем возрасте.</li>
                <li><strong>Дрессировка:</strong> врожденное упрямство может стать проблемой при дрессировке, поэтому важно, чтобы владелец имел достаточный опыт в содержании собак.</li>
                <li><strong>Эмоциональная чувствительность:</strong> чау-чау скупы на проявление чувств, но чутко реагируют на состояние хозяина и всегда готовы прийти на помощь.</li>
                <li><strong>Чистоплотность:</strong> собаки этой породы чистоплотны и не любят прогулки в плохую погоду.</li>
                <li><strong>Ум и независимость:</strong> чау-чау очень умны и имеют свое мнение, неохотно выполняя то, что не считают обязательным.</li>
                <li><strong>Агрессия:</strong> к посторонним людям проявляется только при реальной угрозе; реакция на других животных обычно нейтральна, хотя возможны внезапные вспышки неприязни.</li>
                <li><strong>Отношения с домочадцами:</strong> доброжелательны, но не одобряют излишней эмоциональности и панибратства.</li>
                <li><strong>Молчаливость:</strong> чау-чау очень молчаливы и не будут беспокоить соседей.</li>
                <li><strong>Половые отличия:</strong> девочки обычно более послушны и любознательны, кобели лучше подходят для выставочной карьеры.</li>
            </ul>
        </p>
    </div>
</div>
{% endblock %}

