{% extends 'dj02_creating_app/layout.html' %}

{% block title %}
    <title>DogDjango - Платформа для любителей собак и Django</title>
{% endblock %}

{% block content%}

<header>
    <h1>Добро пожаловать на сайт {{caption}}!</h1>
    <p>Ваше идеальное место для общения и обмена опытом среди любителей собак и разработчиков на Django.</p>
</header>
<section>
    <h2>Почему DogDjango?</h2>
    <p>Мы объединили два мира: мир <strong>собак</strong> и мир <strong>программирования</strong>. На нашей платформе вы можете найти единомышленников, делиться советами и учиться новому.</p>
    <p>Если вы любите собак, но также увлечены разработкой, DogDjango — это именно то, что вам нужно!</p>
</section>

<section>
    <h2>Что мы предлагаем?</h2>
    <ul>
        <li><strong>Форумы</strong> для обсуждения всех аспектов собаководства и разработки на Django.</li>
        <li><strong>Статьи</strong> и <strong>руководства</strong> по созданию проектов, связанных с собаками.</li>
        <li><strong>Сообщества</strong> для общения и обмена опытом.</li>
    </ul>
</section>

<section>
    <h2>Присоединяйтесь к нам!</h2>
    <p>Создайте свой профиль и начните делиться своим опытом с другими любителями собак и разработчиками.</p>
    <p>Зарегистрируйтесь сегодня и откройте для себя мир, где собаки и программирование встречаются!</p>
</section>
{% endblock %}