{% extends 'dj02_creating_app/layout.html' %}

{% block title %}
<title>Шарпей</title>
{% endblock %}
{% load static %}
{% block content %}
<div class="card">
    <div class="card-body">
        <img src="{% static 'dj02_creating_app/img/sharpei.jpg' %}" class="card-img-top" alt="Шарпей">
        <h2 class="card-title">Шарпей</h2>
        <p class="card-text">
        Шарпей когда-то был универсальной рабочей собакой, которая выполняла функции сторожа, пастуха и защитника стад, охотника, даже профессионального бойца. Сегодня их чаще всего заводят не для охраны, а в качестве компаньона.
        </p>        
        <p class="card-text">
            <h3>Основные моменты</h3>
            <ul>
                <li>Шарпей родом из Китая, предполагают, что у него общие корни с тибетскими мастифами и чау-чау.</li>
                <li>Генетики установили, что возраст породы может достигать 3 тысяч лет.</li>
                <li>Необычная шерсть шарпея является сильным аллергеном, потому перед покупкой всем членам семьи стоит близко пообщаться с собакой, чтобы выявить возможную реакцию организма.</li>
                <li>Вопреки «игрушечной» внешности щенков и взрослых животных, характер у них совсем не плюшевый.</li>
                <li>Шарпею нужен опытный и сильный хозяин, который сможет поддерживать свой авторитет в глазах питомца.</li>
                <li>Собака не рекомендуется семьям с малышами, однако хорошо ладит с детьми постарше и подростками.</li>
                <li>Уход за животным не принесет чрезмерных хлопот.</li>
                <li>Не нуждается в постоянных физических нагрузках.</li>
                <li>Предпочтительно домашнее содержание.</li>
                <li>Необходима ранняя социализация (возможно, с помощью специалиста-кинолога), чтобы избежать агрессии по отношению к другим животным и незнакомым людям.</li>
                <li>К сожалению, долгожителями шарпеи не являются, средняя продолжительность жизни составляет 8-12 лет.</li>
            </ul>    
        </p>

    </div>
</div>
{% endblock %}
