{% extends 'dj02_creating_app/layout.html' %}

{% block title %}
<title>Тибетский мастиф</title>
{% endblock %}
{% load static %}
{% block content %}
<div class="card">
    <img src="{% static 'dj02_creating_app/img/tibetan_mastiff.jpg' %}" class="card-img-top" alt="Тибетский мастиф">
    <div class="card-body">
        <h2 class="card-title">Тибетский мастиф</h2>
        <p class="card-text">Тибетский мастиф – огромный красавец, который примечателен мощными габаритами. Впрочем, его внешнее сходство с царём зверей нисколько не умаляет добродушия.</p>
        <p class="card-text">        <h3>Основные моменты</h3>
            <ul>
                <li>Эта порода не рекомендуется начинающим собаководам: она требует грамотной социализации и невероятного терпения.</li>
                <li>Внушительные размеры тибетца не всегда сочетаются с привычными апартаментами, поэтому лучше всего держать собаку в частном доме.</li>
                <li>Пик активности мастифов приходится на вечернее или даже ночное время: именно тогда лучше всего гулять с питомцем на улице.</li>
                <li>Тибетские мастифы не могут держаться на цепи, поскольку очень коммуникабельны и хотят проводить время со своим хозяином.</li>
                <li>Эти собаки невероятно умны и независимы, и в некоторых случаях придётся проявить твёрдость характера.</li>
                <li>Все тибетцы – обладатели громогласного лая, поэтому потрудитесь над тем, чтобы ваш пёс не издавал шум без причины.</li>
                <li>Мастифы нуждаются в постоянной физической активности, иначе могут заскучать и буквально превратить ваш дом в руины.</li>
                <li>Не любят шумные компании, поскольку видят в них потенциальную угрозу.</li>
                <li>Неплохо уживаются с детьми и, при определённых обстоятельствах, животными.</li>
            </ul></p>
    </div>
</div>
{% endblock %}
