{% extends 'dj04_forms/layout.html' %}

{% block title %}
	<title>Страница для добавления новостей</title>
{% endblock %}

{% block content %}
<h1>Страница для добавления новостей</h1>
<div class = 'card-body'>
		<form method="post" >
		 {% csrf_token %}
		<div class = 'form-group'>
			{{ form.title }}
		</div>
		<div class = 'form-group'>
			{{ form.short_description }}
		</div>
		<div class = 'form-group'>
			{{ form.text }}
		</div>
		<div class = 'form-group'>
			{{ form.pub_date }}
		</div>
		<button type="submit">Добавить новость</button>
	</form>
	<p>{{error}}</p>
</div>
{% endblock %}